HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
target/
springAppName_IS_UNDEFINED/
log/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.v
/web/
/lib/
/prime-ops-worker/nbproject/